{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h2 class="text-center">All Projects</h2>

    <div class="text-center mb-3">
        <a href="/projects/" class="btn btn-secondary">All</a>
        <a href="?type=realestate" class="btn btn-success">Real Estate</a>
        <a href="?type=shipyard" class="btn btn-info">Shipyard</a>
    </div>

    <div class="row">
    {% for p in projects %}
        <div class="col-md-4">
            <div class="card shadow mb-4">

                {% if p.image %}
                <img src="{{ p.image.url }}" style="height:220px;">
                {% endif %}

                <div class="card-body">
                    <h5>{{ p.name }}</h5>
                    <p>{{ p.location }}</p>
                    <a href="/projects/{{ p.id }}/" class="btn btn-primary btn-sm">View</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}