{% extends 'base.html' %}

{% block content %}
<h4>Gallery</h4>
<div class="row">
{% for img in project.images.all %}
<div class="col-md-3">
    <img src="{{ img.image.url }}" class="img-fluid mb-2">
</div>
{% endfor %}
</div>


<div class="container mt-4">

    <h2>{{ project.name }}</h2>

    {% if project.image %}
    <img src="{{ project.image.url }}" class="img-fluid rounded mb-3">
    {% endif %}

    <div class="card p-3 shadow">
        <p><b>Location:</b> {{ project.location }}</p>
        <p><b>Type:</b> {{ project.project_type }}</p>
        <p><b>Status:</b> {{ project.status }}</p>
        <p>{{ project.description }}</p>
    </div>

    <a href="/projects/" class="btn btn-dark mt-3">Back</a>

</div>

{% endblock %}